services:
  cs-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - WAR_MODULE=web
    container_name: cs-app
    restart: always
    networks:
      - proxy-network

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  nginx-proxy:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/ssl
    environment:
      - SERVER_NAME=myglenn.pe.kr
      - SSL_CERT_PATH=/etc/ssl/fullchain.pem
      - SSL_KEY_PATH=/etc/ssl/tarot.key
      - APP_HOST=cs-app
      - APP_PORT=8080
    networks:
      - proxy-network
    restart: always
    depends_on:
      - cs-app

networks:
  proxy-network:
    external: true

# volumes:
#   db-data: