server:
  port: 8080

spring:
  profiles:
    active: local
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
            trust: ${MAIL_HOST}
#          starttls:
#            enable: true gmail 이라면 이거 씀


file:
  upload-dir: /path/to/your/local/upload

mybatis:
  type-handlers-package: org.apache.ibatis.type.jsr310
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: mappers/**/*.xml

jwt:
  secret: b2lpczNYSmZSZ0xnZEtXa2dHWndzdFV4aXZ1NU4xdWg=

logging:
  level:
    org.springframework.security: DEBUG