spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

jwt:
  secret: ${JWT_SECRET_KEY}

logging:
  level:
    com.example.api.mapper: INFO
    org.springframework.boot: WARN
    file:
      path: ${LOGGING_FILE_PATH:logs}
      name: ${logging.file.path}/spring.log