<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enjoy.api.mapper.CmnFileMapper">

    <insert id="insert" parameterType="com.enjoy.common.domain.CmnFile">
        INSERT INTO CMN_FILE (
            ID, ORIGINAL_NAME, STORED_PATH, FILE_TYPE, FILE_SIZE,
            UPLOADER_ID, UPLOAD_DT
        ) VALUES (
                     #{id}, #{originalName}, #{storedPath}, #{fileType}, #{fileSize},
                     #{uploaderId}, #{uploadDt}
                 )
    </insert>

    <select id="findById" parameterType="long" resultType="com.enjoy.common.domain.CmnFile">
        SELECT
            ID, ORIGINAL_NAME, STORED_PATH, FILE_TYPE, FILE_SIZE,
            UPLOADER_ID, UPLOAD_DT
        FROM CMN_FILE
        WHERE ID = #{id}
    </select>

    <select id="findByIds" parameterType="list" resultType="com.enjoy.common.domain.CmnFile">
        SELECT
        ID, ORIGINAL_NAME, STORED_PATH, FILE_TYPE, FILE_SIZE,
        UPLOADER_ID, UPLOAD_DT
        FROM CMN_FILE
        WHERE ID IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>