<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enjoy.api.mapper.UsrMapper">

    <select id="findByLoginId" parameterType="string" resultType="com.enjoy.common.domain.Usr">
        SELECT U.ID,
               U.LOGIN_ID AS loginId,
               UP.PW,
               U.NAME,
               U.ROLE,
               U.EMAIL,
               U.AGC_ID
        FROM USR U
                 JOIN
             USR_PW UP ON U.ID = UP.USR_ID
        WHERE U.LOGIN_ID = #{loginId}
    </select>

    <select id="findById" parameterType="long" resultType="com.enjoy.common.domain.Usr">
        SELECT *
        FROM USR
        WHERE ID = #{id}
    </select>


    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM USR
    </select>

    <select id="findWithPaging" resultType="com.enjoy.common.domain.Usr">
        SELECT *
        FROM USR
        ORDER BY ID DESC
            LIMIT #{pageable.pageSize}
        OFFSET #{pageable.offset}
    </select>

    <sql id="userSearchWhereClause">
        <where>
            AND USR.STATUS != 'DELETED'
            <if test="condition.agcId != null">
                AND USR.AGC_ID = #{condition.agcId}
            </if>
            <if test="condition.role != null and condition.role != ''">
                AND USR.ROLE = #{condition.rol e}
            </if>
            <if test="condition.loginId != null and condition.loginId != ''">
                AND USR.LOGIN_ID LIKE CONCAT('%', #{condition.loginId}, '%')
            </if>
            <if test="condition.name != null and condition.name != ''">
                AND USR.NAME LIKE CONCAT('%', #{condition.name}, '%')
            </if>
        </where>
    </sql>

    <select id="countWithFilter" parameterType="com.enjoy.common.dto.usr.UsrSearchCondition" resultType="long">
        SELECT COUNT(USR.ID)
        FROM USR
        LEFT JOIN AGC ON USR.AGC_ID = AGC.ID
        <include refid="userSearchWhereClause"/>
    </select>

    <select id="findWithPagingAndFilter" resultType="com.enjoy.common.domain.Usr">
        SELECT USR.*
        FROM USR
        LEFT JOIN AGC ON USR.AGC_ID = AGC.ID
        <include refid="userSearchWhereClause"/>
        ORDER BY USR.ID DESC
        LIMIT #{pageable.pageSize}
        OFFSET #{pageable.offset}
    </select>

    <insert id="insert" parameterType="com.enjoy.common.domain.Usr">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT GET_NEXT_SEQ_VAL('USR') AS ID
        </selectKey>
        INSERT
        INTO USR (ID, LOGIN_ID, EMAIL, NAME, ROLE, AGC_ID, REG_DT) VALUES (
        #{id},
        #{loginId},
        #{email},
        #{name},
        #{role},
        #{agcId},
        #{regDt}
        )
    </insert>

    <select id="existsByLoginId" resultType="integer" parameterType="string">
        SELECT IFNULL(COUNT(ID), 0)
        FROM USR
        WHERE LOGIN_ID = #{loginId}
    </select>

    <update id="update" parameterType="com.enjoy.common.domain.Usr">
        UPDATE USR
        <set>
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="email != null and email != ''">
                EMAIL = #{email},
            </if>
            <if test="role != null and role != ''">
                ROLE = #{role},
            </if>
        </set>
        WHERE
        ID = #{id}
    </update>

    <update id="updateStatusAndClearInfo" parameterType="com.enjoy.common.domain.Usr">
        UPDATE USR
        SET STATUS = #{status},
            NAME   = #{name},
            EMAIL  = #{email},
            PW     = #{pw}
        WHERE ID = #{id}
    </update>

    <select id="findInfoById" resultType="com.enjoy.common.dto.usr.UsrInfoDTO">
        SELECT ID as id, LOGIN_ID as loginId, NAME as name, ROLE as role, EMAIL as email, AGC_ID as agcId
        FROM USR
        WHERE ID = #{id}
    </select>

    <select id="findInfoByIds" resultType="com.enjoy.common.dto.usr.UsrInfoDTO">
        SELECT
        ID ,
        LOGIN_ID,
        NAME ,
        EMAIL ,
        ROLE ,
        AGC_ID
        FROM USR
        WHERE ID IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findFirstManagerByAgcId" resultType="com.enjoy.common.dto.usr.UsrInfoDTO">
        SELECT
            ID,
            LOGIN_ID,
            NAME,
            EMAIL,
            ROLE,
            AGC_ID
        FROM USR
        WHERE AGC_ID = #{agcId} AND ROLE = 'AGENCY_ADMIN'
        ORDER BY ID ASC
            LIMIT 1
    </select>

    <select id="findLoginIdsByAgcIds" resultType="string">
        SELECT LOGIN_ID FROM USR
        WHERE AGC_ID IN
        <foreach item="agcId" collection="list" open="(" separator="," close=")">
            #{agcId}
        </foreach>
    </select>

    <select id="findLoginIdById" parameterType="long" resultType="string">
        SELECT LOGIN_ID FROM USR WHERE ID = #{id}
    </select>

    <select id="findLoginIdsByRoles" parameterType="list" resultType="string">
        SELECT LOGIN_ID
        FROM USR
        WHERE ROLE IN
        <foreach item="role" collection="list" open="(" separator="," close=")">
            #{role}
        </foreach>
    </select>

</mapper>