<th:block th:fragment="sidebarFragment">
    <!-- 사이드바 (PC) -->
    <aside id="sidebar" class="sidebar">
        <nav class="sidebar-nav">
            <a th:if="${userRole != null and (userRole.contains('SUPER_ADMIN') or userRole.contains('OPERATOR'))}"  th:href="@{/agency}" class="sidebar-item" data-page="agency">
                대리점 관리
            </a>
            <a th:if="${userRole != null and (userRole.contains('SUPER_ADMIN'))}" th:href="@{/user}" class="sidebar-item" data-page="user">
                사원 관리
            </a>
            <a th:href="@{/consultation}" class="sidebar-item" data-page="consultation">
                상담창구 관리
            </a>
        </nav>
    </aside>

    <div id="sidebarOverlay" class="sidebar-overlay"></div>
    <aside id="sidebarMobile" class="sidebar-mobile">
        <div class="sidebar-header">
            <h2 class="sidebar-title">demo</h2>
            <button class="header-btn" id="closeSidebar" aria-label="닫기"></button>
        </div>
        <nav class="sidebar-nav-mobile">
            <a  th:if="${userRole != null and (userRole.contains('SUPER_ADMIN') or userRole.contains('OPERATOR'))}" th:href="@{/agency}" class="sidebar-item-mobile" data-page="agency">
                대리점 관리
            </a>
            <a th:if="${userRole != null and (userRole.contains('SUPER_ADMIN'))}" th:href="@{/user}" class="sidebar-item-mobile" data-page="user">
                사원 관리
            </a>
            <a th:href="@{/consultation}" class="sidebar-item-mobile" data-page="consultation">
                상담창구 관리
            </a>
        </nav>
    </aside>
</th:block>